.page {
  width: 100%;
  height: calc(100% - 60px);
  position: absolute;
}

.container {
  will-change: contents;
  margin-top: 35px;
  height: calc(80% + 60px);
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.about-page,
.contact-page,
.projects-page {
  h1 {
    font-size: 53px;
    font-family: 'Coolvetica';
    color: red;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    animation: pulse 1s;
      animation-delay: 1.1s;
  }
}

@media (max-width: 1023px) {
  .page {
    height: auto;
  }

  .container {
    height: auto;
  }
}