.contact-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.472vw;

  .text-zone {
    margin-left: 2.083vw;
    width: 45%;
    display: table-cell;

    h1 {
      font-size: 3.611vw;
    }

    p {
      font-size: clamp(10px, 0.972vw, 17px);
    }

    .contact-form {
      width: 100%;
      // margin-top: 20px;

      ul {
        padding: 0;
        margin: 0;

        li {
          padding: 0;
          margin: 0;
          list-style: none;
          margin-bottom: 10px;
          overflow: hidden;
          display: block;
          position: relative;
          opacity: 0;
          animation: fadeInUp 2s 2s;
          animation-fill-mode: forwards;
          clear: both;
        }

        li.half {
          width: 49%;
          margin-left: 2%;
          float: left;
          clear: none;

          &:first-child {
            margin-left: 0;
          }
        }
      }
      input[type='text'],
      input[type='email'] {
        width: 100%;
        border: 0;
        background: #535151;
        height: 3.472vw;
        font-size: clamp(10px, 0.972vw, 17px);
        color: #fff;
        padding: 0 1.389vw;
        box-sizing: border-box;
      }

      textarea {
        width: 100%;
        border: 0;
        background: #535151;
        height: 50px;
        font-size: clamp(10px, 1.111vw, 17px);
        color: #fff;
        padding: 10px 1.389vw;
        min-height: 150px;
        box-sizing: border-box;
      }

      .flat-button {
        color: red;
        background: transparent;
        font-size: clamp(10px, 0.972vw, 17px);
        letter-spacing: 0.208vw;
        text-decoration: none;
        padding: 8px 0.694vw;
        border: 1px solid red;
        float: right;
        border-radius: 0.278vw;
      }
    }
  }

  .map-zone {
    height: 100%;
    width: 47%;
    margin-right: 2.083vw;
    position: relative;

    .info-map {
      position: absolute;
      background-color: #000;
      top: 2%;
      right: 2%;
      z-index: 1;
      // width: 40%;
      padding: 20px 1.389vw;
      color: #fff;
      font-family: 'Helvetica';
      font-size: 1.181vw;
      font-weight: 300;
      opacity: 0;
      animation: fadeIn 1s 1.5s;
      animation-fill-mode: forwards;

      span {
        font-size: 1.111vw;
        display: block;
        padding-top: 20px;
        color: red;
      }
    }

    .map-wrap {
      background: #1e1e1e;
      width: 100%;
      height: 100%;
    }

    .leaflet-container {
      width: 100%;
      height: 100%;
      position: relative;
      opacity: 0;
      animation: backInRight 1s 1.2s;
      animation-fill-mode: forwards;

      // span {
      //   font-size: 16px span {
      //     color: #ffd700;
      //   }
      // }
    }
  }
}

// @media screen and (max-width: 1200px) {
//   .map-wrap {
//     float: none;
//     width: 100%;
//     height: 400px;
//   }

//   .info-map {
//     display: none;
//   }
// }
