// Desktop-first design


// Desktop
.contact-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.472vw;

  .text-zone {
    margin-left: 2.083vw;
    width: 45%;
    display: table-cell;

    h1 {
      font-size: 3.611vw;
    }

    p {
      font-size: clamp(10px, 0.972vw, 17px);
    }

    .contact-form {
      width: 100%;

      ul {
        padding: 0;
        margin: 0;

        li {
          padding: 0;
          margin: 0;
          list-style: none;
          margin-bottom: 10px;
          overflow: hidden;
          display: block;
          position: relative;
          opacity: 0;
          animation: fadeInUp 2s 2s;
          animation-fill-mode: forwards;
          clear: both;
        }

        li.half {
          width: 49%;
          margin-left: 2%;
          float: left;
          clear: none;

          &:first-child {
            margin-left: 0;
          }
        }
      }
      input[type='text'],
      input[type='email'] {
        width: 100%;
        border: 0;
        background: #535151;
        height: 3.472vw;
        font-size: clamp(10px, 0.972vw, 17px);
        color: #fff;
        padding: 0 1.389vw;
        box-sizing: border-box;
      }

      textarea {
        width: 100%;
        border: 0;
        background: #535151;
        font-size: clamp(10px, 1.111vw, 17px);
        color: #fff;
        padding: 1.181vw 1.389vw;
        min-height: 150px;
        box-sizing: border-box;
      }

      .flat-button {
        color: red;
        background: transparent;
        font-size: clamp(10px, 0.972vw, 17px);
        letter-spacing: 0.208vw;
        text-decoration: none;
        padding: 8px 0.694vw;
        border: 1px solid red;
        float: right;
        border-radius: 0.278vw;
      }
    }
  }

  .map-zone {
    height: 100%;
    width: 47%;
    margin-right: 2.083vw;
    position: relative;

    .info-map {
      position: absolute;
      background-color: #000;
      top: 2%;
      right: 2%;
      z-index: 1;
      padding: 20px 1.389vw;
      color: #fff;
      font-family: 'Helvetica';
      font-size: 1.181vw;
      font-weight: 300;
      opacity: 0;
      animation: fadeIn 1s 1.5s;
      animation-fill-mode: forwards;

      span {
        font-size: 1.111vw;
        display: block;
        padding-top: 20px;
        color: red;
      }
    }

    .map-wrap {
      background: #1e1e1e;
      width: 100%;
      height: 100%;
    }

    .leaflet-container {
      width: 100%;
      height: 100%;
      position: relative;
      opacity: 0;
      animation: backInRight 1s 1.2s;
      animation-fill-mode: forwards;
    }
  }
}


// Tablet (large)
@media (max-width: 1023px) {
  .contact-page {
    flex-direction: column;
    width: 660.63px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    gap: 35px;

    .text-zone {
      h1 {
        font-size: 52px;
      }

      p {
        font-size: 14px;
      }

      margin: 0;
      width: 100%;

      .contact-form {
        ul {
          li.half {
            &:first-child {
              margin-left: 0;
            }
          }
        }
        input[type='text'],
        input[type='email'] {
          height: 50px;
          font-size: 14px;
          padding: 0 20px;
        }

        textarea {
          font-size: 14px;
          padding: 17px 20px;
        }

        .flat-button {
          font-size: 14px;
          letter-spacing: 3px;
          padding: 8px 10px;
          border-radius: 4px;
        }
      }
    }

    .map-zone {
      width: 100%;
      height: 660.63px;
      margin: 0;
  
      .info-map {
        padding: 20px 20px;
        font-size: 17px;
  
        span {
          font-size: 16px;
        }
      }
    }
  }
}


// Tablet (Small)
@media (max-width: 720.63px) {
  
  .contact-page {
    width: 91.674vw;
    gap: 20px;

    .text-zone {
      h1 {
        font-size: clamp(37px, 7.216vw, 52px);
      }

      p {
        font-size: clamp(10px, 1.943vw, 14px);
      }

      .contact-form {
        input[type='text'],
        input[type='email'] {
          height: 6.938vw;
          font-size: clamp(10px, 1.943vw, 14px);
          padding: 0 2.775vw;
        }

        textarea {
          font-size: clamp(10px, 1.943vw, 14px);
          padding: 17px 2.775vw;
          min-height: 20.815vw;
        }

        .flat-button {
          font-size: clamp(10px, 1.943vw, 14px);
          letter-spacing: 0.416vw;
          padding: 8px 1.388vw;
          border-radius: 0.555vw;
        }
      }
    }

    .map-zone {
      height: 91.674vw;

  
      .info-map {
        padding: 20px 2.775vw;
        font-size: clamp(10px, 2.359vw, 17px);
  
        span {
          font-size: clamp(10px, 2.220vw, 16px);
        }
      }
    }
  }
}


// Mobile
@media (max-width: 425px) {
  .contact-page {
    margin-top: 25px;

    .map-zone {
      .info-map {
        padding: 5px 2.775vw;

        span {
          padding-top: 10px;
        }
      }
    }
  }
}