// Desktop-first design


// Desktop
.home-about-projects-page {
  display: grid;
  grid-template:
    [row1-start] 'home projects' auto [row1-end]
    [row2-start] 'about projects' 1fr [row2-end]
    / 1fr 1fr;
  column-gap: 4.083vw;

  .text-zone-home {
    grid-area: home;
    margin-left: 2.083vw;

    h1 {
      color: white;
    }

    .greeting-and-photo {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      gap: 3.125vw;

      .photo {
        width: 10.891vw;
        border-radius: 3.333vw;
        animation: fadeIn 1s 1s backwards;
      }
    }

    ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      padding-inline-start: 0;
      margin-top: 30px;
      margin-right: 5.431vw;
      width: 100%;
      animation: fadeIn 1s 4s backwards;

      li:last-child {
        padding-right: 0;
      }

      li {
        display: flex;
        align-items: center;
        border-right: 1px solid #8d8d8d;
        padding-right: 1.903vw;
        height: 2em;

        &:hover {
          svg {
            color: red;
          }
          h2 {
            color: white;
          }
        }

        svg,
        h2 {
          font-size: clamp(10px, 0.972vw, 17px);
          transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
        }
      }

      .linkedin:hover svg {
        color: #0072b1;
      }

      .github:hover svg {
        color: #e8eaea;
      }

      li:last-child {
        border-right: none;
      }

      h2 {
        display: inline-block;
        margin: 0;
        margin-left: 0.833vw;
        color: #4d4d4e;
      }
    }
  }

  .text-zone-about {
    h1 {
      margin-top: 15px;
    }

    grid-area: about;
    margin-left: 2.083vw;

    .skills {
      margin-top: 25px;
    }

    p {
      color: white;
      font-family: sans-serif;
      font-weight: 300;
      animation: pulse 1s;
      font-size: clamp(10px, 0.972vw, 17px);

      animation-delay: 1s;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .text-zone-projects {
    position: relative;
    grid-area: projects;
    margin-right: 2.083vw;
    border: 1px solid white;
    border-radius: 0.694vw;
    padding-left: 1.389vw;
    padding-right: 1.389vw;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;

    .page-title {
      text-align: center;
    }

    .images-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-radius: 0.694vw;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 6.5vw;
      bottom: 1px;
      width: 90%;

      &::-webkit-scrollbar {
        width: 2em;
        margin-right: 2em;
      }
      &::-webkit-scrollbar-track {
        background: hsl(0, 84%, 5%);
        border-radius: 100vw;
        margin-block: 0.5em;
      }
      &::-webkit-scrollbar-thumb {
        background: hsl(0, 94%, 35%);
        border: 0.25em solid hsl(0, 84%, 5%);
        border-radius: 100vw;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: hsla(0, 94%, 35%, 0.613);
      }

      @supports (scrollbar-color: red blue) {
        * {
          scrollbar-color: hsl(0, 94%, 35%) hsl(0, 84%, 5%);
          scrollbar-width: auto;
        }
      }

      .image-box {
        position: relative;
        width: 100%;
        min-height: 19vw;
        border-radius: 10px;
        overflow: hidden;

        .project-image {
          width: 100%;
          z-index: 2;
          border-radius: 10px;
          object-fit: cover;
        }

        .content {
          position: absolute;
          width: 100%;
          z-index: 3;
          padding: 10px 1.389vw;
          transition: bottom 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
            background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          background: rgba(0, 0, 0, 0.9);
          bottom: -70px;

          .title {
            margin-bottom: 0;
            margin-top: 0;
            color: #fff;
            font-size: 1.667vw;
            font-weight: 500;
            line-height: 24px;
          }

          .description {
            font-size: 0.972vw;
            margin-bottom: 5px;
            color: #fff;
            font-weight: 700;
          }

          .btn {
            margin-top: 30px;
            margin-bottom: 10px;
            padding: 0 1.597vw;
            height: 40px;
            line-height: 34px;
            border: 2px solid #ffd700;
            font-size: 0.972vw;
            color: #fff;
            background: transparent;
            text-transform: uppercase;
            font-weight: 700;
            transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
              background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            cursor: pointer;

            &:hover {
              transform: translateY(-3px);
              background: #ffd700;
            }
          }

          .gitHubButton {
            margin-left: 0.694vw;
          }
        }

        &:after {
          content: '';
          background: linear-gradient(180deg, #ffd700, #000);
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          opacity: 0;
        }

        &:hover:after {
          opacity: 0.85;
        }

        &:hover .content {
          bottom: 0;
          background: transparent;
        }
      }
    }
  }

  h1 {
    color: red;
    font-size: 3.611vw;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
  }

  h2 {
    color: white;
    margin-top: 20px;
    font-weight: 400;
    font-family: sans-serif;
  }
}


// Tablet (large)
@media (max-width: 1023px) {
  .home-about-projects-page {
    display: flex;
    flex-direction: column;
    width: 660.63px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;

    h1 {
      font-size: 52px;
    }

    .text-zone-home {
      margin-left: 0;
      .greeting-and-photo {
        .photo {
          width: 156.83px;
        }
      }

      .contacts {
        ul {
          li {
            padding-right: 27.4px;

            &:last-child {
              padding-right: 0;
            }

            a {
              svg {
                font-size: 14px;
              }

              h2 {
                font-size: 14px;
              }
            }

            svg {
              font-size: 14px;
            }

            h2 {
              font-size: 14px;
            }
          }
        }
      }
    }

    .text-zone-about {
      margin-left: 0;
      .summary {
        font-size: 14px;
      }
      .skills {
        p {
          font-size: 14px;

          &:last-child {
            margin-bottom: 25px;
          }
        }
      }
    }

    .text-zone-projects {
      margin-right: 0;
      margin-top: 25px;
      overflow: visible;
      padding-left: 0;
      padding-right: 0;
      border-radius: 10px;
      height: auto;

      .page-title {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #1e1e1e;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }

      .images-container {
        position: relative;
        overflow-y: visible;
        top: 0;
        margin-top: 15px;
        width: calc(90% - 40px);

        .image-box {
          .content {
            .title {
              font-size: 24px;
            }

            .description {
              font-size: 14px;
            }

            .btn {
              padding: 0 23px;
              font-size: 14px;
            }

            .gitHubButton {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}


// Tablet (Small)
@media (max-width: 720.63px) {
  .home-about-projects-page {
    width: 91.674vw;

    h1 {
      font-size: clamp(37px, 7.216vw, 52px);
    }

    .text-zone-home {
      h1 {
        font-size: 7.216vw;
      }
      .greeting-and-photo {
        .photo {
          width: 21.763vw;
        }
      }

      .contacts {
        ul {
          li {
            padding-right: 3.802vw;

            a {
              svg {
                font-size: clamp(10px, 1.943vw, 14px);
              }

              h2 {
                font-size: clamp(10px, 1.943vw, 14px);
              }
            }

            svg {
              font-size: clamp(10px, 1.943vw, 14px);
            }

            h2 {
              font-size: clamp(10px, 1.943vw, 14px);
            }
          }
        }
      }
    }

    .text-zone-about {
      .summary {
        font-size: clamp(10px, 1.943vw, 14px);
      }
      .skills {
        p {
          font-size: clamp(10px, 1.943vw, 14px);
        }
      }
    }

    .text-zone-projects {
      .page-title {
        border-top-right-radius: 1.388vw;
        border-top-left-radius: 1.388vw;
      }

      .images-container {
        width: calc(90% - 5.551vw);

        .image-box {
          .content {
            .title {
              font-size: clamp(17px, 3.33vw, 24px);
            }

            .description {
              font-size: clamp(10px, 1.943vw, 14px);
            }

            .btn {
              padding: 0 3.192vw;
              font-size: clamp(10px, 1.943vw, 14px);
            }

            .gitHubButton {
              margin-left: 1.388vw;
            }
          }
        }
      }
    }
  }
}


// Mobile
@media (max-width: 425px) {
  .home-about-projects-page {
    margin-top: 25px;
    .text-zone-home {
      .contacts {
        ul {
          display: grid;
          grid-template:
            [row1-start] 'linkedin github' 30px [row1-end]
            [row2-start] 'email location' 30px [row2-end]
            / 1fr 1fr;
          justify-items: center;
          background-color: #8d8d8d;
          gap: 1px;
          margin-top: 17px;

          .linkedin {
            grid-area: linkedin;
          }

          .github {
            grid-area: github;
          }

          .email {
            grid-area: email;
            svg,
            h2 {
              margin-top: 10px;
            }
          }

          .location {
            grid-area: location;
            svg,
            h2 {
              margin-top: 10px;
            }
          }

          li {
            padding-right: 0;
            border: none;
            width: 100%;
            background: #1e1e1e;
            justify-content: center;

            a {
              margin: 0 auto;
            }
          }
        }
      }
    }

    .text-zone-projects {
      .images-container {
        .image-box {
          .content {
            .description {
              margin-top: 0;
            }
            .btn {
              margin-top: 11px;
            }
          }
        }
      }
    }
  }
}


// greeting and photo size fix for smaller mobile devices
@media (max-width: 390px) {
  .home-about-projects-page {
    .text-zone-home {
      h1 {
        font-size: 6.563vw;
      }
      .greeting-and-photo {
        .photo {
          width: 21.11vw;
        }
      }
    }
  }
}


//animated letter spacing fix in mobile views
@media (max-width: 425px) {
  .text-zone-home {
    span.text-animate-hover._14,
    span.text-animate-hover._15,
    span.text-animate-hover._19,
    span.text-animate-hover._24,
    span.text-animate-hover._25,
    span.text-animate-hover._33,
    span.text-animate-hover._34,
    span.text-animate-hover._46 {
      margin-right: -4px;
    }

    span.text-animate._14,
    span.text-animate._15,
    span.text-animate._19,
    span.text-animate._24,
    span.text-animate._25,
    span.text-animate._33,
    span.text-animate._34,
    span.text-animate._46 {
      margin-right: -4px;
    }
  }
}

@media (max-width: 375px) {
  .text-zone-home {
    span.text-animate-hover._14,
    span.text-animate-hover._15,
    span.text-animate-hover._19,
    span.text-animate-hover._24,
    span.text-animate-hover._25,
    span.text-animate-hover._33,
    span.text-animate-hover._34,
    span.text-animate-hover._46 {
      margin-right: -5px;
    }

    span.text-animate._14,
    span.text-animate._15,
    span.text-animate._19,
    span.text-animate._24,
    span.text-animate._25,
    span.text-animate._33,
    span.text-animate._34,
    span.text-animate._46 {
      margin-right: -5px;
    }
  }
}

@media (max-width: 320px) {
  .text-zone-home {
    span.text-animate-hover._14,
    span.text-animate-hover._15,
    span.text-animate-hover._19,
    span.text-animate-hover._24,
    span.text-animate-hover._25,
    span.text-animate-hover._33,
    span.text-animate-hover._34,
    span.text-animate-hover._46 {
      margin-right: -6px;
    }

    span.text-animate._14,
    span.text-animate._15,
    span.text-animate._19,
    span.text-animate._24,
    span.text-animate._25,
    span.text-animate._33,
    span.text-animate._34,
    span.text-animate._46 {
      margin-right: -6px;
    }
  }
}
