// Desktop-first Development

// Default mobile menu buttons to being hidden
.mobileButtons {
  display: none;
}

// Desktop and Tablet (Large)
.nav-bar {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  nav {
    display: flex;
    margin-left: 20px;
    gap: 50px;

    svg {
      margin-right: 5px;
    }

    a {
      font-size: 15px;
      color: #4d4d4e;
      text-decoration: none;
      transition: all 0.3s ease-out;

      &:hover {
        color: white;
        svg {
          color: red;
        }
      }
    }

    a.active {
      color: white;
      svg {
        color: red;
      }
    }
  }

  ul {
    display: flex;
    gap: 25px;
    list-style: none;

    li {
      svg {
        transition: all 0.3s ease-out;
      }

      .linkedin {
        padding: 7px 0;
        display: block;
        line-height: 16px;

        &:hover svg {
          color: #0072b1;
        }
      }
      .github {
        padding: 7px 0;
        margin-right: 20px;
        display: block;
        line-height: 16px;

        &:hover svg {
          color: #e8eaea;
        }
      }
    }
  }
}

// Tablet (Small)
@media (max-width: 720.63px) {
  .nav-bar {
    height: 8.326vw;

    nav {
      margin-left: 2.775vw;
      gap: 6.938vw;

      svg {
        margin-right: 0.694vw;
      }

      a {
        transition: color 0.3s ease-out;
        font-size: clamp(10px, 2.082vw, 15px);
      }
    }

    ul {
      gap: 3.469vw;

      li {
        font-size: clamp(10px, 2.082vw, 15px);

        svg {
          transition: color 0.3s ease-out;
        }

        .linkedin {
          padding: 7px 0;
          display: block;
          line-height: 16px;

          &:hover svg {
            color: #0072b1;
          }
        }
        .github {
          padding: 7px 0;
          margin-right: 2.775vw;
          display: block;
          line-height: 16px;

          &:hover svg {
            color: #e8eaea;
          }
        }
      }
    }
  }
}

// Mobile
@media (max-width: 425px) {
  .mobileButtons {
    display: block;
    height: 52px;
    background: black;
  }

  .nav-bar {
    display: block;
    height: auto;

    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      padding-top: 10px;

      a {
        display: block;
        font-size: 14px;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      padding-left: 0;
      padding-top: 10px;
      gap: 30px;
      margin: 40px auto 0;
      width: 83px;
      border-top: 1px solid #8d8d8d;

      li {
        font-size: 20px;
        .github {
          margin-right: 0;
        }
      }
    }
  }

  .nav-bar {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
  }

  .nav-bar.mobile-show {
    max-height: 500px;
  }

  .hamburger-icon,
  .close-icon {
    display: block;
    height: 40px;
    color: red;
    padding-bottom: 12px;
    position: absolute;
    right: 12px;
    top: 5px;
  }

  .hamburger-icon.mobile-show {
    display: none;
  }

  .close-icon {
    display: none;
  }

  .close-icon.mobile-show {
    display: block;
  }
}