.nav-bar {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  top: 0;
  z-index: 3;

  nav {
    display: flex;
    margin-left: 20px;
    gap: 50px;
    text-align: center;
    height: 210 px;
    top: 0%;
    margin-top: -120 px;
    width: 100%;

    svg {
      margin-right: 5px;
    }

    a {
      font-size: 15px;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      height: 51 px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: white;
        svg {
          color: red;
        }
      }

    }

    a.active {
      color: white;
      svg {
        color: red;
      }
    }
  }

  ul {
    bottom: 20px;
    display:flex;
    gap: 25px;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      .linkedin {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;

        &:hover svg {
          color: #0072b1;
        }
      }
      .github {
        padding: 7px 0;
        margin-right: 20px;
        display: block;
        font-size: 15px;
        line-height: 16px;

        &:hover svg {
          color: #e8eaea;
        }
      }
    }
  }
}

.hamburger-icon,
.close-icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav-bar {
    background: transparent;
    position: initial;
    height: auto;
    min-height: auto;

    ul,
    nav {
      display: none; 
    }

    nav {
      width: 100%;
      height: 100%;
      background: #181818;
      top: 0;
      left: 0;
      position: fixed;
      z-index: 2;
      margin: 0;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a:after {
        opacity: 1;
        position: initial;
        width: auto;
        margin-left: 10px;
      }

      a svg {
        opacity: 1 !important;
      }

      &.mobile-show {
        display: block;
      }
      
    }

    .hamburger-icon,
    .close-icon {
      display: block;
      top: 15px;
      right: 15px;
    }

  }
}
