body {
  margin: 0;
  font: 300 15px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background: #1e1e1e;
  /* background colors to consider for future light/dark mode: */
  /* light grey #f0f0f0 */
  /* beige #f5f5dc */
  /* charcoal black #1e1e1e */
  /* Dark Gray #333333 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media screen and (max-width: 1200px) {
  body {
    overflow: visible
  }
} */
